body {
    font-family: "Arial";
    text-align: center;
    color: #efefef;
    background-color: rgb(54, 53, 70);
}

button {
    touch-action: manipulation;
    font-size: 2.25vw;
    margin: 1.5vw;
    border-radius: 20px;
    color: #efefef;
    background-color: rgb(116, 115, 133);
}

h1 {
    font-size: 6vw;
    margin: 4vw;
    font-weight: normal;
}

h2 {
    font-size: 2.5vw;
    margin: 3vw;
    font-weight: normal;
}

h3 {
    font-size: 2vw;
    margin: 2vw;
    font-weight: normal;
}

h4 {
    font-size: 1.5vw;
    margin: 0.5vw;
    font-weight: normal;
}
@media screen and (max-width: 900px) {
    h1 {
        font-size: 8vw;
    }
    
    h2 {
        font-size: 5.5vw;
    }
    
    h3 {
        font-size: 3.5vw;
    }
    
    h4 {
        font-size: 3.5vw;
    }
    button {
        margin-top: 2vw;
        font-size: 5.25vw;
    }
  }
